

<ion-toolbar color="secondary">
  <ion-buttons slot="start">
    <ion-button (click)='back()'>
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    
  </ion-buttons>

  <ion-title>User List</ion-title>
</ion-toolbar>
<ion-content>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="user.Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile</ion-label>
    <ion-input [(ngModel)]="user.Mobile"></ion-input>
  </ion-item>

    <ion-button color="primary" (click)='InsertUser()'>Save</ion-button>

  
</ion-content>
